.article{
    min-height:800px;
    position:relative;
}

.combo-left{
    width:70%;
    padding-right:20px;
    padding-top:30px;
}

.row .col-md-5{
    width:47%;
    margin-left:20px;
}

.row .col-md-5 .short_intro{
    min-height:45px;
    margin-top:10px;
}

.row .col-md-5 p{
    color:#999;
}

.row .col-md-5 span{
    color:#ff6464;
    font-weight:bolder;
}

.row .col-md-5 button{
    margin-top:20px;
}

.desc{
    min-height:600px;
    margin-top:20px;
}

.desc .navbar{
    min-height:40px;
    margin:0 0;
}

.navbar-default{
    height:40px;
    width:637px;
}

.navbar-default .navbar-nav{
    margin:0 0;
}

.nav>.active>a{
    height:38px;
}

.section{
    min-height:600px;
    padding-top:5px;
}

.section h4{
    height:40px;
    padding-left:10px;
    line-height:40px;
    border-radius:4px;
    background:#f8f8f8;
}

 #intro img{
    max-width:637px;
    margin-bottom:20px;
}

.tab-pane{
    padding:20px 0;
}

.combo-right{
    position:absolute;
    top:0;
    right:0 ;
    width: 260px;
    height:100%;
    padding:30px 15px;
    border-left:1px solid #eee;
    background:#fafafa;
}

.combo-right div{
    width: 250px;
    max-height: 287px;
    overflow:hidden;
    line-height: 40px;
    margin-bottom:30px;
}

.combo-right div h3{
        margin: 0 0 10px 2px;
}