==
<footer>
    <div class="display">
         <div class="col-sm-4">
           <img src="/themes/demo/assets/images/LOGO1.jpg" alt="" height="63px" width="255px">
           <p>联系电话：0371-69310331</p>
           <p>反馈建议：zzcxcylm100@163.com</p>
           <p>工作时间：周一到周五 8:00-18:00</p>
         </div>
         <div class="col-sm-2">
           <h4>合作伙伴</h4>
           <a href="">申请加入</a>
         </div>
         <div class="col-sm-2">
           <h4>常见问题</h4>
           <a href="">新手指南</a>
         </div>
         <div class="col-sm-4 ewm">
           <img src="/themes/demo/assets/images/ewm.jpg" alt="" height="150px" width="150px">  
           <p>
             扫描二维码<br>
             关注微信公众号<br>
             双创信息随时掌握
           </p>
         </div>
     </div>
     <div class="col-sm-12">
        <p>
          Copyright @ 2015-2016 郑州山景信息技术有限公司 豫ICP备123456789豫公网安备110号
        </p>
     </div>
    <div class="clear"></div>
</footer>